<script type="text/template" id="task-template">
  <p><%%= name %> </p>

</script>

<div id="task-form">
  <label>Name:
    <input type="text" class="task-input">
  </label>

  <button class="add-task">Add Task</button>
</div>


<div class="tasks">
  

</div>