<script type="text/template" id="task-template">
  <p><%%= name %> </p>

</script>

<script type="text/template" id="column-template">
    <p><%%= name %> </p>  
</script>

<%= content_tag "div", "Loading..", id: "data-onload", data: { columns: current_user ? @columns : nil } %>

<div id="task-form">
  <label> Task Name:
    <input type="text" class="task-input">
  </label>

  <button class="add-task">Add Task</button>
</div>

<div id="column-form">
  <label>Column Name:
    <input type="text" class="column-input">
  </label>

  <button class="add-column">Add Task</button>
</div>

<div class="tasks">
  

</div>

